################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/config/applicationhost.config
/.vs/C_projects_training/v15/ipch/AutoPCH/1ea6c7ca5c567b91/DEMO1.ipch
/.vs/C_projects_training/v15/ipch/AutoPCH/34db4fbc69fed93a/DEMO2.ipch
/.vs/C_projects_training/v15/ipch/AutoPCH/4acac8adf36b4e6c/DEMO2.ipch
/.vs/C_projects_training/v15/ipch/AutoPCH/53fee8127f5024ee/EXAMPLE4-0.ipch
/.vs/C_projects_training/v15/ipch/AutoPCH/a735a144ebf33e67/DEMO1.ipch
/.vs/C_projects_training/v15/.suo
/.vs/C_projects_training/v15/Browse.VC.db
/.vs/C_projects_training/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/CppProperties.json
